.bundle
db/*.sqlite3
log/*.log
tmp/
public/system
*.DS_Store
coverage/*
*.swp
rerun.txt
tags
!.keep
vendor/bundler_gems
.rvmrc
config/s3.yml
config/database.yml
.project
.rbenv-version
db/sphinx/*
.idea
.ruby-gemset
.ruby-version
